<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="<%= current_page.data.title %>"/>
    <meta property="og:description" content="<%= current_page.data.description %>"/>

    <title><%= current_page.data.title || "Bog - Alex Barret" %></title>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/mono-blue.min.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31569872-7"></script>
  </head>

  <body id="blog" class="height-fit">
    <div class="position-sticky top-0">
      <%= partial 'layouts/navigation' %>
    </div>

    <div class="markdown-body mx-auto p-4 p-md-2" data-controller="code-highlighter">
      <%= yield %>
    </div>

    <footer class="">
      <p class="lead text-center mt-3">End of article</p>
      <p class="lead text-center">If you ave any questions, feel free to <%= link_to 'Contact me', '/contact-me', class: 'btn btn-primary' %>
      </p>
    </footer>

    <% if build? %>
    <div data-controller="analytics" id="analytics"
      data-action="turbolinks:load@window->analytics#sendPageView"
      data-turbolinks-permanent></div>
    <% end %>
  </body>
</html>
