<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31569872-7"></script>
  </head>

  <body id="layout" class="d-flex flex-wrap flex-items-stretch">
    <section id="hero" class="flex-grow-1" data-turbolinks-permanent>
      <%= image_tag 'iguazu.jpg' %>
    </section>

    <section id="description" class="flex-grow-1">
      <%= partial 'layouts/navigation' %>
      <div class="content width-full mx-auto p-4">
        <%= yield %>
      </div>
    </section>

    <% if build? %>
    <div data-controller="analytics" id="analytics"
      data-action="turbolinks:load@window->analytics#sendPageView"
      data-turbolinks-permanent></div>
    <% end %>
  </body>
</html>
