---
title: Contact Me
---
<section id="hero" class="main-section">
  <%= image_tag 'iguazu.jpg' %>
</section>

<section id="description" class="main-section">
  <div class="content headings">
    <h1>Contact Me</h1>  
    <h2>Send me a message and I'll try to reply as soon as possible :)</h2>
  </div>
  <div class="content">
    <% form_tag '', class: 'pure-form pure-form-stacked',
      name: 'contact-me', method: 'POST', action: '/thank-you',
      data: { netlify: true, netlify_recaptcha: true } do %>
      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1-2">
            <%= label_tag 'fullname' %>
            <%= text_field_tag 'fullname', class: 'pure-u-23-24', required: true %>
          </div>

          <div class="pure-u-1-2">
            <%= label_tag 'email' %>
            <%= email_field_tag 'email', class: 'pure-input-1', required: true %>
          </div>

          <div class="pure-u-1">
            <%= label_tag 'message' %>
            <%= text_area_tag 'message', class: 'pure-input-1', rows: '10', maxlength: 500, required: true %>
            <span class="pure-form-message">Maximum 500 characters.</span>
          </div>
        </div>
      </fieldset>

      <fieldset> <div data-netlify-recaptcha="true"></div> </fieldset>

      <fieldset>
        <%= submit_tag 'Send Message', class: 'pure-button button-primary button-large' %>    
        <%= link_to 'Cancel', '/' %>
      </fieldset>
    <% end %>
  </div>
</section>