---
title: Welcome :)
---

<h1>Home Page</h1>

<p>This is where I'll post my social media icons.</p>

<%= image_tag 'social-media/github.svg', class: 'social-media-icon' %>
<%= image_tag 'social-media/instagram.svg', class: 'social-media-icon' %>
<%= image_tag 'social-media/facebook.svg', class: 'social-media-icon' %>
<%= image_tag 'social-media/linkedin.svg', class: 'social-media-icon' %>
<%= image_tag 'social-media/twitter.svg', class: 'social-media-icon' %>