---
title: Welcome :)
---
<section id="hero" class="main-section">
  <%= image_tag 'iguazu.jpg' %>
</section>

<section id="description" class="main-section">
  <div class="content call-to-action">
    <button class="pure-button pure-button-primary">Press Me</button>
  </div>

  <div class="content bio">
    <p>Hey, I’m Alexandre. I’m a web developer living in Wellington, New Zealand. I am a fan of lindy hop, ruby, and product development. I’m also interested in music and user research. You can view my repo with a click on the button above.</p>
  </div>

  <div class="content social-media">
    <% link_to 'https://www.google.com', target: '_blank' do %>
      <%= image_tag 'social-media/facebook-grey.svg' %>
    <% end %>

    <% link_to 'https://www.google.com', target: '_blank' do %>
      <%= image_tag 'social-media/linkedin-grey.svg' %>
    <% end %>

    <% link_to 'https://www.google.com', target: '_blank' do %>
      <%= image_tag 'social-media/instagram-grey.svg' %>
    <% end %>

    <% link_to 'https://www.google.com', target: '_blank' do %>
      <%= image_tag 'social-media/github-grey.svg' %>
    <% end %>

    <% link_to 'https://www.google.com', target: '_blank' do %>
      <%= image_tag 'social-media/twitter-grey.svg' %>
    <% end %>
  </div> 
</section>