---
title: Welcome :)
---

<h1>Alexandre Barret</h1>

<p>My name is Alexandre Barret, I am French Web Developer. You'll find on this website my blog and multiple ways to reach me through social media.</p>

<%= image_tag 'social-media/github.svg', class: 'social-media-icon' %>
<%= image_tag 'social-media/instagram.svg', class: 'social-media-icon' %>
<%= image_tag 'social-media/facebook.svg', class: 'social-media-icon' %>
<%= image_tag 'social-media/linkedin.svg', class: 'social-media-icon' %>
<%= image_tag 'social-media/twitter.svg', class: 'social-media-icon' %>