---
title: New assessment
---

<h1>New competency assessment: Leading A Team Ward Round</h1>

<main class="well" >
  <p><strong>Trainee:</strong> Trainee Name</p>
  <p><strong>Competency:</strong> Competency name</p>
  <p><strong>Assessment Type & Year:</strong> EPA, Yr 1-3</p>
  <p><strong>Attempt No:</strong> 4th</p>

  <form style="margin-bottom:unset;">
    <div class="row" style="margin:unset">
      <div class="form-group col-xs-4" style="padding-left:unset;">
        <label><strong>Assessor</strong>*</label>
        <%= select_tag :assessor, options: [
          'Alberta J. Wayne',
          'Emil R. Tobin',
          'Bret M. Callaway',
          'Johnnie R. Lorenz',
        ],
        include_blank: 'Select an assessor',
        class: 'form-control' %>
      </div>

      <div class="form-group col-xs-4">
        <label><strong>Date of assessment</strong>*</label>
        <%= date_field_tag :created_at, class: 'form-control' %>
      </div>
    </div>

    <div class="row" style="margin:unset;" >
      <div class="form-group col-xs-8" style="padding-left:unset;">
        <label><strong>Comments on circumstances of assessment note</strong>*</label>
        <%= text_area_tag :comment, class: 'form-control' %>
        <span class="help-block">e.g. major milti-injury emergency, busy weekend shift</span>
      </div>
    </div>

    <h3>Instructions</h3>
    <p><strong>For Trainee</strong></p>
    <p>The leading a Team Ward Round EPA will be signed off as entrusted when your supervisor:</p>
    <ul>
      <li>is confident that you can be trusted to perform the activity described at the required standard without more than a distant (reactive) supervision.</li>
      <li>feels confident that you know when to ask for additional help and that you can be trusted to appropriately seek assistance in a timely manner.</li>
    </ul>

    <p><strong>For Trainee</strong></p>
    <p>Instructions for the trainee. Where would this be maintained?</p>
    <h3>Notify assessor assessment</h3>
    <div class="checkbox">
      <label>
        <%= check_box_tag :notify %>
        Yes, please notify the assessor. They will get an email and will be able to view your self-assessment any time.
      </label>
    </div>

    <div class="form-actions" style="background-color:#EDEDED;">
      <%= submit_tag 'Save and Close', class: 'btn btn-primary' %>
      <%= submit_tag 'Save & Start Self Assessment', class: 'btn btn-primary' %>
      <%= submit_tag 'Cancel', class: 'btn btn-default' %>
    </div>
  </form>
</main>
